.menu{
  display:flex;
  flex-direction: column;
  gap:2.3rem;
  height:94vh;
  width: 40vh;

}
.logo{
  text-align: center;
  padding: 20px;
  color: #000000;
  align-items: center;
  display: flex;
  gap:20px;
}
.logo img{
  background:#fff ;
  border-radius: 20% ;
  width: 50px;
  height: 50px;
}
.logo-icon{
  font-size:1.4rem;
  color: black;
  
}
.menu--list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu--list .item{
  display:flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight:600 ;
  padding:10px;
  border-radius: 10px;
  transition:0.3s ease-in-out;
  color: #23055a;

}
.menu--list.item:hover, 
.active{
  background:#0f54b5 ;
  color:rgb(255, 255, 255);
}
